<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/adminresults.css"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>SURVEY RESULTS</header>

<div class="sidebar">
    <div class="logo-container">
        <img class="logo" src="../res/pictures/admin-logo.png" alt="logo">
        <h1>AlmaMeter</h1>
    </div>
    <div class="search-filter-container">
        <form action="/" method="GET" class="search-form" id="searchForm">
            <input type="text" name="query" id="searchQuery" placeholder="Search..."> 
        </form>  
    </div>

    <div class="header-nav">
        <a href="/html/adminhome" class="nav-link home active">
            <img src="../res/pictures/home1.png" class="nav-icon" alt="Home">Home
        </a>
        <a href="/html/addsurvey" class="nav-link addsurvey">
            <img src="../res/pictures/addsurvey1.png" class="nav-icon" alt="Add Survey">Add Survey
        </a>
        <a href="/html/adminresults" class="nav-link results">
            <img src="../res/pictures/results1.png" class="nav-icon" alt="Results">Results
        </a>
        <a href="/html/adminprofile" class="nav-link profile">
            <img src="../res/pictures/profile1.png" class="nav-icon" alt="Profile">Profile
        </a>
        <button class="logout-button" id="logoutButton">
            <img src="../res/pictures/logout1.png" class="logout-icon" alt="Log out">Log out
        </button>
    </div>
</div>

<main>
    <div id="course-results" class="results-container">
        <h2>Course User Counts</h2>
    </div>

    <div id="total-users-count-container">
        <h3>Total Users Across All Courses:</h3>
        <p id="total-users-count"></p>
    </div>

    <div id="bar-chart-container">
        <h2>Total Users per Course</h2>
        <canvas id="barChart"></canvas>
    </div>
</main>


<script src="../js/adminresults.js"></script>

</body>
</html>
