<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Survey</title>
    <link rel="stylesheet" href="../css/viewsurvey.css">
</head>
<body>
<header></header>

<div class="sidebar">
    <div class="logo-container">
        <img class="logo" src="../res/pictures/admin-logo.png" alt="logo">
        <h1>AlmaMeter</h1>
    </div>
    <form action="/" method="GET" class="search-form" id="searchForm">
        <input type="text" name="query" id="searchQuery" placeholder="Search...">
    </form>
    <div class="header-nav">
        <a href="/html/adminhome" class="nav-link home active">
            <img src="../res/pictures/home1.png" class="nav-icon" alt="Home">Home
        </a>
        <a href="/html/addsurvey" class="nav-link addsurvey">
            <img src="../res/pictures/addsurvey1.png" class="nav-icon" alt="Add Survey">Add Survey
        </a>
        <a href="/html/adminresults" class="nav-link results">
            <img src="../res/pictures/results1.png" class="nav-icon" alt="Results">Results
        </a>
        <a href="/html/adminprofile" class="nav-link profile">
            <img src="../res/pictures/profile1.png" class="nav-icon" alt="Profile">Profile
        </a>
        <button class="logout-button" id="logoutButton">
            <img src="../res/pictures/logout1.png" class="logout-icon" alt="Log out">Log out
        </button>
    </div>
</div>

<main>
    <div class="survey-container">
       
        <h1 id="surveyTitle"></h1>

        <div class="filter-container">
            <div class="filter-dropdown">
                <div class="dropdown-button1" data-value="type">Question Type</div>
                <div class="dropdown-menu">
                    <a href="#" data-value="all">All</a>
                    <a href="#" data-value="essay">Essay</a>
                    <a href="#" data-value="checkbox">Checkbox</a>
                    <a href="#" data-value="rating">Rating</a>
                </div>
            </div>
        
            <div class="filter-dropdown">
                <div class="dropdown-button" data-value="cat">Category</div>
                <div class="dropdown-menu">
                    <a href="#" data-value="all">All</a>
                    <a href="#" data-value="major">Major</a>
                    <a href="#" data-value="minor">Minor</a>
                </div>
            </div>
        </div>
       
        <form method="POST">
            <div class="question-container">
              
                <div class="upper-part">
                    <div class="drop-container">
                        <label for="course">Course</label>
                        <input type="text" name="course" id="courseSelect" readonly>
                    </div>
                    <div class="drop-container">
                        <label for="sem">Semester</label>
                        <input type="text" name="sem" id="semSelect" readonly>
                    </div>
                    <div class="drop-container">
                        <label for="ay">Academic Year</label>
                        <input type="text" name="ay" id="aySelect" readonly>
                    </div>
                </div>
                
               
                <div id="dynamicQuestions"></div>
            </div>
        </form>
    </div>
</main>

<script src="../js/viewsurvey.js"></script>
<script src="../js/viewfilter.js"></script>

</body>
</html>
